@model testDMS.Models.DONOR

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    td.lines {
        padding-bottom: 5px;
        padding-top: 5px;
        border-bottom: solid lightgray;
    }
    td img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width:60%;
    }
    td, th{
        padding-left:1%;
    }
    
</style>
<hr />
<div class="well well-lg">
    <div style="display: inline-block">
        <h4>Delete Donor Record: @Html.DisplayFor(model => model.FName) @Html.DisplayFor(model => model.LName)</h4>
    </div>

    <div style="display: inline-block;float:right">
        @Html.ActionLink("Back to Donor", "Details", new { id = Model.DonorId }, new { @class = "btn btn-primary btn-large" })
    </div>
</div>

<div class="panel panel-default col-md-12">

    <div class="panel panel-heading"><h3 style="color:#e31b23">Are you sure you want to delete @Html.DisplayFor(model => model.FName) @Html.DisplayFor(model => model.Init) @Html.DisplayFor(model => model.LName)'s record?</h3></div>

    <div class="panel panel-body" >
        <table border="0">
            <tr><th class="lines" style="background-color:#0096D7"> <br />@Html.DisplayFor(model => model.Title) @Html.DisplayFor(model => model.FName) @Html.DisplayFor(model => model.Init) @Html.DisplayFor(model => model.LName) @Html.DisplayFor(model => model.Suffix)<br /></th><th></th></tr>
            <tr><td>Email Address:</td><td rowspan="12" style="width:50%"><img src="~/Images/remove-user-icon.jpg" alt="user icon" /></td></tr>
            <tr><td class="lines">@Html.DisplayFor(model => model.Email)</td></tr>
            <tr><td class="lines">Phone Number: @Html.DisplayFor(model => model.Cell) </td></tr>
            <tr><td class="lines">Birthday: @Html.DisplayFor(model => model.Birthday)</td></tr>
            <tr><td class="lines">Gender: @Html.DisplayFor(model => model.Gender)</td></tr>
            <tr><td></td></tr>
            <tr><th class="lines" style="background-color:#0096D7"><br />Codes<br /></th></tr>
            <tr><td class="lines">@Html.DisplayNameFor(model => model.CompanyName): @Html.DisplayFor(model => model.CompanyName)</td></tr>
            <tr><td class="lines">@Html.DisplayNameFor(model => model.CONTACT.TypeOf): @Html.DisplayFor(model => model.CONTACT.TypeOf)</td></tr>
            <tr><td class="lines">@Html.DisplayNameFor(model => model.IDENTITYMARKER.MarkerType):@Html.DisplayFor(model => model.IDENTITYMARKER.MarkerType)</td></tr>
            <tr><td>&nbsp;</td></tr>
            <tr><td>@Html.ActionLink("Back to Donor", "Details", new { id = Model.DonorId }, new { @class = "btn btn-primary btn-large" })</td></tr>


        </table>

    </div>
</div>


    @using (Html.BeginForm())
            {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color" style="text-align:right">
            <input type="submit" value="Delete" class="btn btn-default" style="background-color:#e31b23" />

        </div>
    }
