@model testDMS.Models.DONOR

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    td.lines {
        padding-bottom: 5px;
        padding-top: 5px;
        border-bottom: solid lightgray;
    }
    
</style>
<hr />
<div class="well well-lg">
    <div style="display: inline-block">
        <h4>Delete Donor Record: @Html.DisplayFor(model => model.FNAME) @Html.DisplayFor(model => model.LNAME)</h4>
    </div>

    <div style="display: inline-block;float:right">
        @Html.ActionLink("Back to List", "Details", new { id = Model.DONORID }, new { @class = "btn btn-primary btn-large" })
    </div>
</div>

<div class="panel panel-default col-md-12">

    <div class="panel panel-heading"><h3 style="color:#e31b23">Are you sure you want to delete @Html.DisplayFor(model => model.FNAME) @Html.DisplayFor(model => model.MINIT) @Html.DisplayFor(model => model.LNAME)'s record?</h3></div>

    <div class="panel panel-body" >
        <table border="0">
            <tr><th class="lines" style="background-color:#0096D7"> @Html.DisplayFor(model => model.TITLE) @Html.DisplayFor(model => model.FNAME) @Html.DisplayFor(model => model.MINIT) @Html.DisplayFor(model => model.LNAME) @Html.DisplayFor(model => model.SUFFIX)</th></tr>
            <tr><td>Email Address:</td></tr>
            <tr><td class="lines"><a href="mailto:@Html.DisplayFor(model => model.EMAIL)" target="_top">@Html.DisplayFor(model => model.EMAIL)</a></td></tr>
            <tr><td class="lines">Phone Number: @Html.DisplayFor(model => model.CELL) </td></tr>
            <tr><td class="lines">Birthday: @Html.DisplayFor(model => model.BIRTHDAY)</td></tr>
            <tr><td class="lines">Gender: @Html.DisplayFor(model => model.GENDER)</td></tr>
            <tr><td></td></tr>
            <tr><th class="lines" style="background-color:#0096D7">Codes</th></tr>
            <tr><td class="lines">@Html.DisplayNameFor(model => model.COMPANY.COMPANYNAME): @Html.DisplayFor(model => model.COMPANY.COMPANYNAME)</td></tr>
            <tr><td class="lines">@Html.DisplayNameFor(model => model.CONTACT.TYPEOF): @Html.DisplayFor(model => model.CONTACT.TYPEOF)</td></tr>
            <tr><td class="lines">@Html.DisplayNameFor(model => model.IDENTITYMARKER.MARKERTYPE):@Html.DisplayFor(model => model.IDENTITYMARKER.MARKERTYPE)</td></tr>
            <tr><td>&nbsp;</td></tr>
            <tr><td>@Html.ActionLink("Back to List", "Details", new { id = Model.DONORID }, new { @class = "btn btn-primary btn-large" })</td></tr>


        </table>

    </div>
</div>


    @using (Html.BeginForm())
            {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color" style="text-align:right">
            <input type="submit" value="Delete" class="btn btn-default" style="background-color:#e31b23" />

        </div>
    }
