@model testDMS.Models.DisplayDataViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-default">

    <div class="panel panel-heading">Donor Details</div>

    <div class="panel panel-body">

        <div class="panel panel-default col-md-3">

            <div class="panel panel-heading">@Model.Donors.FNAME's Information</div>

            <div class="panel panel-body" style="min-height: 300px; max-height: 300px;">

                <table>
                    <tr><td>@Html.DisplayNameFor(model => model.Donors.FNAME): @Html.DisplayFor(model => model.Donors.FNAME)</td></tr>
                    <tr><td>@Html.DisplayNameFor(model => model.Donors.MINIT): @Html.DisplayFor(model => model.Donors.MINIT)</td></tr>
                    <tr><td>@Html.DisplayNameFor(model => model.Donors.LNAME): @Html.DisplayFor(model => model.Donors.LNAME)</td></tr>
                    <tr><td>@Html.DisplayNameFor(model => model.Donors.TITLE): @Html.DisplayFor(model => model.Donors.TITLE)</td></tr>
                    <tr><td>@Html.DisplayNameFor(model => model.Donors.SUFFIX): @Html.DisplayFor(model => model.Donors.SUFFIX)</td></tr>
                    <tr><td>@Html.DisplayNameFor(model => model.Donors.EMAIL): @Html.DisplayFor(model => model.Donors.EMAIL)</td></tr>
                    <tr><td>@Html.DisplayNameFor(model => model.Donors.CELL): @Html.DisplayFor(model => model.Donors.CELL)</td></tr>
                    <tr><td>@Html.DisplayNameFor(model => model.Donors.BIRTHDAY): @Html.DisplayFor(model => model.Donors.BIRTHDAY)</td></tr>
                    <tr><td>@Html.DisplayNameFor(model => model.Donors.GENDER): @Html.DisplayFor(model => model.Donors.GENDER)</td></tr>
                    <tr><td>@Html.DisplayNameFor(model => model.Donors.COMPANY.COMPANYNAME): @Html.DisplayFor(model => model.Donors.COMPANY.COMPANYNAME)</td></tr>
                    <tr><td>@Html.DisplayNameFor(model => model.Donors.CONTACT.TYPEOF): @Html.DisplayFor(model => model.Donors.CONTACT.TYPEOF)</td></tr>
                    <tr><td>@Html.DisplayNameFor(model => model.Donors.IDENTITYMARKER.MARKERTYPE): @Html.DisplayFor(model => model.Donors.IDENTITYMARKER.MARKERTYPE)</td></tr>
                </table>

                <br />

                <div style="text-align: center">
                    @Html.ActionLink("Edit", "Edit", new { id = Model.Donors.DONORID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = Model.Donors.DONORID })
                </div>

            </div>

        </div>

        <div class="panel panel-default col-md-9">

            <div class="panel panel-heading">@Model.Donors.FNAME's Donations</div>

            <div class="panel panel-body" style="min-height: 300px; max-height:300px; overflow-y: scroll">

                <table>
                    <tr><th>#</th><th>Amount</th><th>Type</th><th>Date Made</th><th>Date Received</th><th>Method</th><th>Restrictions</th><th>Code</th></tr>

                    @{ int x = 1;
                        foreach (var items in Model.Donations)
                        {
                            <tr>
                                <td>@x:</td>
                                <td>@items.Amount</td>
                                <td>@items.TypeOf</td>
                                <td>@items.DateGiftMade.ToShortDateString()</td>
                                <td>@items.DateRecieved.ToShortDateString()</td>
                                <td>@items.GiftMethod</td>
                                <td>@items.GiftRestrictions</td>
                                <td>@items.CODE.Fund</td>
                            </tr>
                            x++;
                        }
                    }

                </table>

            </div>

        </div>
        
    </div>
    
    <div style="text-align: center"><a href="@Url.Action("Index", "Home")#second">Back</a></div>

</div>

