@model testDMS.Models.DisplayDataViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>DONOR</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Donors.FNAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Donors.FNAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Donors.MINIT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Donors.MINIT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Donors.LNAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Donors.LNAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Donors.TITLE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Donors.TITLE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Donors.SUFFIX)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Donors.SUFFIX)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Donors.EMAIL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Donors.EMAIL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Donors.CELL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Donors.CELL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Donors.BIRTHDAY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Donors.BIRTHDAY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Donors.GENDER)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Donors.GENDER)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Donors.COMPANY.COMPANYNAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Donors.COMPANY.COMPANYNAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Donors.CONTACT.TYPEOF)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Donors.CONTACT.TYPEOF)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Donors.IDENTITYMARKER.MARKERTYPE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Donors.IDENTITYMARKER.MARKERTYPE)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Donors.DONORID }) |
    @Html.ActionLink("Delete", "Delete", new { id = Model.Donors.DONORID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
<div>
    @{ int x = 1;
        foreach (var items in Model.Donations)
        {

        <p>
          @x: @items.Amount
           
        </p>
           x++;
         }
        }
</div>
