@model testDMS.Models.DisplayDataViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<script>
    window.onload = function () {
        formatPhone('@Model.Donors.Cell');
    };

    function formatPhone(s) {
        var str = s;
        var res = str.slice(0, 3) + "-" + str.slice(3, 6) + "-" + str.slice(6, 12);
        document.getElementById("demo").innerHTML = res;
    }

</script>

<style>
    td.lines {
        padding-bottom: 5px;
        padding-top: 5px;
        border-bottom: solid lightgray;
    }

    label {
        font-weight: normal !important;
    }
</style>
<hr />
<div class="well well-lg">

    <div style="display: inline-block">
        <h4>Donor Record: @Model.Donors.FName @Model.Donors.LName </h4>
    </div>

    <div style="display: inline-block;float:right">
        <input type="button" style="background-color:#0096D7;" class="btn btn-info" value="Back to List of Donors" onclick="location.href='@Url.Action("Index", "DONORs")'" />
    </div>
</div>


<div class="panel panel-default col-md-3">

    <div class="panel panel-heading">@Model.Donors.FName's Information</div>

    <div class="panel panel-body" style="min-height: 400px; max-height: 400px;">

        <table border="0">
            <tr><th class="lines" style="background-color:#0096D7">@Model.Donors.Title @Model.Donors.FName @Model.Donors.Init @Model.Donors.LName @Model.Donors.Suffix</th></tr>
            <tr><td>Email Address:</td></tr>
            <tr><td class="lines"><a href="mailto:@Model.Donors.Email" target="_top">@Model.Donors.Email</a></td></tr>
            <tr><td class="lines">Phone Number: <label id="demo"></label></td></tr>
            <tr><td class="lines">Address: @Model.Donors.Address</td></tr>
            <tr>
                <td class="lines">
                    Birthday: @if (Model.Donors.Birthday.HasValue)
            { @Model.Donors.Birthday.Value.ToString("MM/dd/yyyy")}
                </td>
            </tr>
            <tr><td class="lines">Gender: @Model.Donors.Gender</td></tr>
            <tr><td></td></tr>
            <tr><th class="lines" style="background-color:#0096D7">Codes</th></tr>
            <tr><td class="lines">@Html.DisplayNameFor(model => model.Donors.CompanyName): @Html.DisplayFor(model => model.Donors.CompanyName)</td></tr>
            <tr><td class="lines">@Html.DisplayNameFor(model => model.Donors.CONTACT.TypeOf): @Html.DisplayFor(model => model.Donors.CONTACT.TypeOf)</td></tr>
            <tr><td class="lines">@Html.DisplayNameFor(model => model.Donors.IDENTITYMARKER.MarkerType): @Html.DisplayFor(model => model.Donors.IDENTITYMARKER.MarkerType)</td></tr>
            <tr><td>&nbsp;</td></tr>
            @if (@ViewBag.role != "General")
            {
                <tr><td style="text-align: center">@Html.ActionLink("Edit Record", "Edit", new { id = Model.Donors.DonorId }, new { @class = "btn btn-primary btn-large" })</td></tr>
                <tr><td style="text-align: right">@Html.ActionLink("Delete", "Delete", new { id = Model.Donors.DonorId })</td></tr>
            }
        </table>

        <br />

    </div>

</div>

<div class="panel panel-default col-md-9">

    <div class="panel panel-heading">
        @Model.Donors.FName's Donations
        <div style="display: inline-block;float:right">
            @if (@ViewBag.role != "General")
            {
                @Html.ActionLink("Add Donation", "AddDonation", "DONATIONs", new { id = Model.Donors.DonorId }, new { @class = "btn btn-primary btn-large" })

            }
        </div>
    </div>
    <div class="panel panel-body" style="min-height: 400px; max-height:400px; overflow-y: scroll">

        <table class="table table-striped">
            <tr style="background-color:#0096D7">
                <th></th>
                <th>Amount</th>
                <th>Type</th>
                <th>Date Made</th>
                <th>Date Received</th>
                <th>Method</th>
                <th>Restrictions</th>
                <th>Code</th>
                @if (@ViewBag.role != "General")
                {
                    <th>Edit Donation</th>
                }
            </tr>

            @{ int x = 1;
            foreach (var items in Model.Donations)
            {
                    <tr>
                        <td>@x:</td>
                        <td>@string.Format("{0:C}", @items.Amount)
                        </td>
                        <td>@items.TypeOf</td>
                        <td>
                            @if (items.DateGiftMade.HasValue)
                            { @items.DateGiftMade.Value.ToString("MM/dd/yyyy")}
                        </td>
                        <td>
                            @if (items.DateRecieved.HasValue)
                            { @items.DateRecieved.Value.ToString("MM/dd/yyyy")}
                        </td>
                        <td>@items.GiftMethod</td>
                        <td>@items.GiftRestrictions</td>
                        <td>code</td>@*placeholder until code is working.*@
                        @*<td>@items.CODE.Fund</td>*@
                        @if (@ViewBag.role != "General")
                        {
                            <td>@Html.ActionLink("Edit", "EditDonation", "DONATIONs", new { ida = items.DonationId, idb = items.DonorId }, new { @class = "btn btn-default", @style = "background-color:#174B7C;color:white" })</td>
                        }
                    </tr>
                    x++;
                }
            }
            @*<tr><td colspan="8" style="text-align: right">@Html.ActionLink("Add Donation", "AddDonation", "DONATIONs", new { id = Model.Donors.DonorId }, new { @class = "btn btn-primary btn-large" })</td></tr>*@
        </table>
    </div>
</div>

@using (Html.BeginForm("AddNote", "DONORs", new { id = Model.Donors.DonorId }, FormMethod.Post))
{
    <div class="panel panel-default col-md-12">
        <div class="panel panel-heading">Notes on @Model.Donors.FName</div>

        <div class="panel panel-body">
            @if (@ViewBag.role != "General")
            {
                @Html.TextArea("Note", null, new { @class = "form-control", id = "Notes", @style = "max-width: 100%" })
                <div style="text-align: right;">
                    <input type="submit" class="btn btn-primary btn-large" style="background-color:#0096D7" value="Add Note" />

                </div>
            }
            <hr />
            <h4>Notes History:</h4>
            <table class="table table-striped">

                <tr style="background-color:#0096D7"><th>#</th><th>Date</th><th>Note</th><th></th></tr>
                @{
                    int y = 1;
                    foreach (var items in Model.Notes)
                    {
                        <tr>
                            <td>@y:</td>
                            <td>@items.DateMade</td>
                            <td>@items.Note</td>
                            @if (@ViewBag.role != "General")
                            {
                                <td>@Html.ActionLink("Delete Note", "DeleteNote", new { ida = items.NoteId, idb = items.DonorId }, new { @class = "btn btn-primary btn-large", name = "Delete" })</td>
                            }
                        </tr>
                        y++;
                    }
                }
            </table>
        </div>
    </div>
                    }
