@model testDMS.Models.DisplayDataViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    td.lines {
        padding-bottom: 5px;
        padding-top: 5px;
        border-bottom: solid lightgray;
    }
</style>
<hr />
<div class="well well-lg">

    <div style="display: inline-block">
        <h4>Donor Record: @Model.Donors.FName @Model.Donors.LName </h4>
    </div>

    <div style="display: inline-block;float:right">
        <input type="button" style="background-color:#0096D7;" class="btn btn-info" value="Back" onclick="location.href='@Url.Action("Index", "DONORs")'" />
    </div>
</div>

<div class="panel panel-default col-md-3">

    <div class="panel panel-heading">@Model.Donors.FName's Information</div>

    <div class="panel panel-body" style="min-height: 400px; max-height: 400px;">

        <table border="0">
            <tr><th class="lines" style="background-color:#0096D7">@Model.Donors.Title @Model.Donors.FName @Model.Donors.Init @Model.Donors.LName @Model.Donors.Suffix</th></tr>
            <tr><td>Email Address:</td></tr>
            <tr><td class="lines"><a href="mailto:@Model.Donors.Email" target="_top">@Model.Donors.Email</a></td></tr>
            <tr><td class="lines">Phone Number: @Model.Donors.Cell</td></tr>
            <tr><td class="lines">Birthday: @Model.Donors.Birthday</td></tr>
            <tr><td class="lines">Gender: @Model.Donors.Gender</td></tr>
            <tr><td></td></tr>
            <tr><th class="lines" style="background-color:#0096D7">Codes</th></tr>
            <tr><td class="lines">@Html.DisplayNameFor(model => model.Donors.COMPANY.CompanyName): @Html.DisplayFor(model => model.Donors.COMPANY.CompanyName)</td></tr>
            <tr><td class="lines">@Html.DisplayNameFor(model => model.Donors.CONTACT.TypeOf): @Html.DisplayFor(model => model.Donors.CONTACT.TypeOf)</td></tr>
            <tr><td class="lines">@Html.DisplayNameFor(model => model.Donors.IDENTITYMARKER.MarkerType): @Html.DisplayFor(model => model.Donors.IDENTITYMARKER.MarkerType)</td></tr>
            <tr><td>&nbsp;</td></tr>
            <tr><td style="text-align: center">@Html.ActionLink("Edit Record", "Edit", new { id = Model.Donors.DonorId }, new { @class = "btn btn-primary btn-large" })</td></tr>
            <tr><td style="text-align: right">@Html.ActionLink("Delete", "Delete", new { id = Model.Donors.DonorId })</td></tr>

        </table>

        <br />

    </div>

</div>

<div class="panel panel-default col-md-9">

    <div class="panel panel-heading">@Model.Donors.FName's Donations</div>

    <div class="panel panel-body" style="min-height: 400px; max-height:400px; overflow-y: scroll">

        <table class="table table-striped">
            <tr style="background-color:#0096D7"><th></th><th>Amount</th><th>Type</th><th>Date Made</th><th>Date Received</th><th>Method</th><th>Restrictions</th><th>Code</th></tr>

            @{ int x = 1;
                foreach (var items in Model.Donations)
                {
                    <tr>
                        <td>@x:</td>
                        <td>@items.Amount</td>
                        <td>@items.TypeOf</td>
                        <td>@items.DateGiftMade</td>
                        <td>@items.DateRecieved</td>
                        <td>@items.GiftMethod</td>
                        <td>@items.GiftRestrictions</td>
                        <td>code</td>@*placeholder until code is working.*@
                        @*<td>@items.CODE.Fund</td>*@
                    </tr>
                    x++;
                }
            }
            <tr><td colspan="8" style="text-align: right">@Html.ActionLink("Add Donation", "Create", "DONATIONs", new { id = Model.Donors.DonorId }, new { @class = "btn btn-primary btn-large" })</td></tr>
        </table>

    </div>

</div>

@using (Html.BeginForm("Details", "DONORs", FormMethod.Post))
            {
    <div class="panel panel-default col-md-12">
        <div class="panel panel-heading">Notes on @Model.Donors.FName</div>
        <div class="panel panel-body">
            @Html.TextArea("Notes", null, new { @class = "form-control", @style = "max-width: 100%" })
            <div style="text-align: right;">
                <input type="button" class="btn btn-info" style="background-color:#0096D7" value="Add Note" />
            </div>
            <hr />
            <h4>Notes History:</h4>
            <table class="table table-striped">

                <tr style="background-color:#0096D7"><th>#</th><th>Date</th><th>Note</th></tr>
                @*Dummy notes to demo display*@
                <tr>
                    <td>1</td>
                    <td>2/8/1995</td>
                    <td>Call only on weekends.</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>5/6/2010</td>
                    <td>Grandma is ill, mention in next call.</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>3/8/2016</td>
                    <td>Grandma passed away, likes to donate on her b.day (2/2)</td>
                </tr>
                @{
                    foreach (var items in Model.Donors.NOTES)
                    {
                        <tr>
                            <td>@x:</td>
                            <td>@items.DateMade</td>
                            <td>@items.Note</td>
                        </tr>
                    }
                }
            </table>
        </div>
    </div>
                    }

