@model IEnumerable<testDMS.Models.DONOR>

@{
    ViewBag.Title = "Index";
    Layout = null;
}

<h2>Donor Information</h2>

<p>
    @Html.ActionLink("Create New", "Create")

    @using (Html.BeginForm())
    {
    <p>
        @Html.AntiForgeryToken()
        Last Name: @Html.TextBox("SearchString") <br />
        <input type="submit" value="Filter" />
    </p>
    }
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Donor Name")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TITLE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SUFFIX)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EMAIL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CELL)
        </th>
        <th>
            @Html.DisplayName("Company")
        </th>
    </tr>
   
@foreach (var item in Model)
{
    var name = item.FNAME + " " + item.LNAME;
    <tr>
        <td>
            @Html.ActionLink(name, "Details", new { id = item.DONORID } )
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TITLE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SUFFIX)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EMAIL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CELL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.COMPANY.COMPANYNAME)
        </td>
    </tr>
}
</table>

<div>
    @Html.Partial("~/Views/DONORs/LoadDonations.cshtml")
</div>

