@model IEnumerable<testDMS.Models.DONOR>

@{
    ViewBag.Title = "Index";
    Layout = null;
}


<p>
    @Html.ActionLink("Create New", "Create")

    @using (Html.BeginForm())
    {
    <p>
        @Html.AntiForgeryToken()
        Search Donors: @Html.TextBox("SearchString")&nbsp
        <input type="submit" value="Filter" />
    </p>
    }
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Donor Name")
        </th>
        <th>
            @Html.DisplayName("Email")
        </th>
        <th>
            @Html.DisplayName("Phone")
        </th>
        <th>
            @Html.DisplayName("Address")
        </th>
        <th>
            @Html.DisplayName("Cell")
        </th>
        <th>
            @Html.DisplayName("Company")
        </th>
    </tr>
   
@foreach (var item in Model)
{
    var name = item.FNAME + " " + item.LNAME;
    <tr>
        <td>
            @Html.ActionLink(name, "Details", new { id = item.DONORID } )
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EMAIL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.COMPANY.PHONE )
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.COMPANY.COMPADDRESS )
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CELL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.COMPANY.COMPANYNAME)
        </td>
    </tr>
}
</table>

