@model testDMS.Models.DONATION

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    td.lines {
        padding-bottom: 5px;
        padding-top: 5px;
        border-bottom: solid lightgray;
    }

    th {
        padding: 15px;
        text-align: center;
        width: 50%;
        background-color: #0096D7;
    }

    table {
        border-collapse: initial;
    }

    input[type=submit] {
        background: transparent url("../../Images/button_update-donation.png") 0 0 no-repeat;
        font-weight: bold;
        display: inline-block;
        text-align: center;
        cursor: pointer;
        height: 70px;
        width: 201px;
        border: 3px solid #fff;
        border-radius: 2em;
        color: transparent;
    }
</style>
<hr />
<div class="well well-lg">

    <div style="display: inline-block">
        <h4>Donation Record: @Html.DisplayFor(model => model.DONOR.FNAME) @Html.DisplayFor(model => model.DONOR.LNAME)</h4>
    </div>

    <div style="display: inline-block;float:right">
        <input type="button" style="background-color:#0096D7;" class="btn btn-info" value="Back" onclick="location.href='@Url.Action("Index", "DONATIONs")'" />
    </div>
</div>

<table border="0">
    <tr><th class="lines" style="background-color:#0096D7" colspan="2">@Html.DisplayFor(model => model.DONOR.FNAME) @Html.DisplayFor(model => model.DONOR.LNAME)</th><th>Check Image</th></tr>
    <tr>
        <td class="lines">Donor:  </td>
        <td class="lines">@Html.DisplayFor(model => model.DONOR.FNAME) @Html.DisplayFor(model => model.DONOR.LNAME)</td>
        <td rowspan="7" style="padding:3%">
            <div class="form-group">
                <br />
                @* Need to specify width/height of image when it gets working *@
                <label for="Upload"></label>
                <img src="~/Images/sampleCheck.jpg" alt="check image" />
            </div>
        </td>
    </tr>
    <tr>
        <td class="lines">Date Recieved: </td>
        <td class="lines"> @Html.DisplayFor(model => model.DateRecieved)</td>

    </tr>
    <tr><td class="lines">Amount:  </td><td class="lines">@Html.DisplayFor(model => model.Amount)</td></tr>
    <tr><td class="lines">Donation Type: </td><td class="lines"> @Html.DisplayFor(model => model.TypeOf)</td></tr>
    <tr><td class="lines">Method of Gift: </td><td class="lines"> @Html.DisplayFor(model => model.GiftMethod)</td></tr>
    <tr><td class="lines">Gift Date:  </td><td class="lines">@Html.DisplayFor(model => model.DateGiftMade)</td></tr>
    <tr><td class="lines">Restrictions: </td><td class="lines"> @Html.DisplayFor(model => model.GiftRestrictions)</td></tr>
    <tr><td class="lines">Code:  </td><td class="lines">@Html.DisplayFor(model => model.CODE.Fund)</td></tr>

    <tr><td colspan="3"><br />&nbsp;<input type="button" style="background-color:#0096D7;" class="btn btn-info" value="Back" onclick="location.href='@Url.Action("Index", "DONATIONs")'" /></td></tr>


</table>

<br />

