@model testDMS.Models.DONATION

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    td {
        padding: 15px;
        text-align: left;
        width: 50%;
        vertical-align: top;
    }

    th {
        padding: 15px;
        text-align: center;
        width: 50%;
        background-color: #0096D7;
    }

    table {
        border-collapse: initial;
    }

    input[type=submit] {
        background: transparent url("../../Images/button_update-donation.png") 0 0 no-repeat;
        font-weight: bold;
        display: inline-block;
        text-align: center;
        cursor: pointer;
        height: 70px;
        width: 201px;
        border: 3px solid #fff;
        border-radius: 2em;
        color: transparent;
    }
</style>
<hr />
<div class="well well-lg">
    <div style="display: inline-block">
        <h4>Update Donation Record</h4>
    </div>

    <div style="display: inline-block;float:right">
        <input type="button" style="background-color:#0096D7;" class="btn btn-info" value="Back" onclick="location.href='@Url.Action("Index", "DONATIONs")'" />
    </div>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <table class="table table-striped">
            <tr>
                <th>
                    Donation Information
                </th>
                <th>
                    Check Image
                </th>
            </tr>
            <tr>
                <td>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.DonationId)
                    @Html.HiddenFor(model => model.DonorId)

                    <div class="form-group">
                        @Html.LabelFor(model => model.Amount, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.TypeOf, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.TypeOf, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.TypeOf, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.DateRecieved, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.DateRecieved, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.DateRecieved, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.GiftMethod, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.GiftMethod, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.GiftMethod, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.DateGiftMade, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.DateGiftMade, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.DateGiftMade, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.CodeId, "CodeId", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.DropDownList("CodeId", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.CodeId, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.GiftRestrictions, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.GiftRestrictions, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.GiftRestrictions, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr style="width:80%"/>
                    <div class="form-group">
                        <div class="col-md-offset-3 col-md-9">
                            <input type="submit" value="" class="btn btn-default" />
                        </div>
                    </div>
                </td>

                <td>
                    <div class="form-group">
                        @*@Html.LabelFor(model => model.ImageUpload, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.EditorFor(model => model.ImageUpload, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.ImageUpload, "", new { @class = "text-danger" })
                            </div>*@
                    </div>
                    <div class="form-group">
                        @* Need to specify width/height of image when it gets working *@
                        <label for="Upload">Check Image:</label>
                        <img src="~/Images/sampleCheck.jpg" alt="check image"/>
                    </div>
                    <br /><br />
                    <div class="form-group" style="display: inline-block;float:right;background-color:#0096D7;color:white">
                        <input type="file" id="myFile" size="50" style="background-color:#0096D7;color:white" >
                    </div>
                </td>
            </tr>
        </table>
    </div>
}

<div>

</div>
