@model IEnumerable<testDMS.Models.DONATION>

@{
    ViewBag.Title = "Index";
    Layout = null;
}


<p>
    @*@Html.ActionLink("Create New", "Create")*@

    <input type="button" class="btn btn-info" value="Create New" onclick="location.href='@Url.Action("Create", "DONATIONs")'" />

    @using (Html.BeginForm())
    {
    <p>
        @Html.AntiForgeryToken()
        Search Donations: @Html.TextBox("SearchString")&nbsp
        <input type="submit" value="Filter" />
    </p>
    }
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayName("Amount")
            </th>
            <th>
                @Html.DisplayName("Donor")
            </th>
            <th>
                @Html.DisplayName("Date")
            </th>
            <th>
                @Html.DisplayName("Reason")
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DONOR.FNAME)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateRecieved)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CODE.Appeal )
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { ida = item.DonationId, idb = item.DonorId }) |
                    @Html.ActionLink("Details", "Details", new { ida = item.DonationId, idb = item.DonorId }) |
                    @Html.ActionLink("Delete", "Delete", new { ida = item.DonationId, idb = item.DonorId})
                </td>
            </tr>
        }
    </table>
