@model IEnumerable<testDMS.Models.DONATION>
@Scripts.Render("~/bundles/mycustomjquery")

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/table2CSV.js">
        function exportToCSV() {
                $("table").table2csv();
                $("table").table2csv('output', { appendTo: '#out' });
                $("table").table2csv({ filename: 'DonationTable.csv' });
                $("table").table2csv({ separator: ',', newline: '\n', newline: '\n', excludeColumns: '', excludeRows: '' });
            }
        </script>*@

<style>

</style>


<hr />
<div class="well well-lg">
    <div style="display: inline-block">
        <h4>Donation Information</h4>
    </div>
        <div style="display: inline-block;float:right">
            @Html.ActionLink("Back to Home", "Index", "Home", null, new { @class = "btn btn-default", @style = "background-color:#0096d7;color:white" })
        </div>
    </div>

<div style="display: inline-block">
    <input type="button" style="background-color:#0096D7;" class="btn btn-info" value="Create New" onclick="location.href='@Url.Action("Create", "DONATIONs")'" />
</div>
<div style="display: inline-block;float:right">
    @using (Html.BeginForm("Index", "DONATIONs", FormMethod.Get))
    {
        <p>
            @Html.AntiForgeryToken()
            Search Donations: @Html.TextBox("searchString")&nbsp
            <input type="submit" value="Filter" />
        </p>
    }
</div><br /><br />
<table  class="table table-striped" id="table" border="0">
    <tr style="background-color:#0096D7">
        <th style="padding-left:2%">
            @Html.DisplayName("Amount")
        </th>
        <th>
            @Html.DisplayName("Donor")
        </th>
        <th>
            @Html.DisplayName("Date")
        </th>
        <th>
            @Html.DisplayName("Reason")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td style="padding-left:2%">
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DONOR.FName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateRecieved)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CODES.Appeal)
            </td>
            <td style="text-align:center"> 
                @Html.ActionLink("Details", "Details", new { ida = item.DonationId, idb = item.DonorId }, new { @class = "btn btn-default", @style = "background-color:#0096d7;color:white" }) 
                @Html.ActionLink("  Edit  ", "Edit", new { ida = item.DonationId, idb = item.DonorId }, new { @class = "btn btn-default", @style = "background-color:#174B7C;color:white" })
                @Html.ActionLink("Delete", "Delete", new { ida = item.DonationId, idb = item.DonorId }, new { @class = "btn btn-default", @style = "background-color:#e31b23;color:white" })
            </td>
        </tr>
    
    }
</table>
<input type="button" onclick="location.href='@Url.Action("ExportToExcel","DONATIONs")'" class="btn btn-default" style="background-image:url('../../Images/excel_icon.png');background-size:cover;width:75px;height:75px" />




