@model IEnumerable<testDMS.Models.DONATION>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TypeOf)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateRecieved)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GiftMethod)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateGiftMade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImageUpload)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GiftRestrictions)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CODE.Fund)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DONOR.FNAME)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TypeOf)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateRecieved)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GiftMethod)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateGiftMade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ImageUpload)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GiftRestrictions)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CODE.Fund)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DONOR.FNAME)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
