@*Added by CM 11-6-2016*@
@model testDMS.Models.ExpandedUserDTO
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    input[type=submit] {
    background: transparent url("../../Images/button_add-new-user.png") 0 0 no-repeat;
    font-weight: bold;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    height: 70px;
    width: 201px; 
    border: 3px solid #fff;
    border-radius: 2em;
    color:transparent;
</style>


<hr />
<div class="well well-lg">
    <div style="display: inline-block">
        <h4>Create New User Account</h4>
    </div>
    <div style="display: inline-block;float:right">
        @Html.ActionLink("Back to List", "Index", "Admin", null, new { @class = "btn btn-default", @style = "background-color:#0096d7;color:white" })
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading" style="background-color:#0096d7"><h4>Enter New User Account Information</h4></div>
    <div class="panel-body">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                @*Added for UI design- need to add functionality*@
                <div class="form-group">
                    <div class="control-label col-md-2">
                        <label for="usr">First Name</label>
                    </div>
                    <div class="col-md-10">
                        <input type="text" class="form-control">
                    </div>
                </div>

                <div class="form-group">
                    <div class="control-label col-md-2">
                        <label for="usr">Last Name</label>
                    </div>
                    <div class="col-md-10">
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <div class="control-label col-md-2">
                        <label for="usr">Edit Role</label>
                    </div>
                    <div class="dropdown col-md-10">
                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" style="background-color:#174b7c">
                            Select User Role
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#">Administrator</a></li>
                            <li><a href="#">Executive</a></li>
                            <li><a href="#">General</a></li>
                        </ul>
                    </div>

                </div>
                @* Not working- can replace hard code above when running*@
                @*<div class="form-group">
                    @Html.LabelFor(model => model.Roles, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("Roles")
                    </div>
                </div>*@
                <hr style="width:50%;float:left" />
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="" class="btn btn-default" />
                     </div>
                </div>
            </div>
        }
</div>
</div>
