@model testDMS.Models.ChartDispalyViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .dateInput {
        width: 20%;
    }
    th {
        text-align:center;
    }
</style>

<hr />

<div class="well well-lg">

    <h4 style="display: inline-block">Donation Information</h4>

    <div style="display: inline-block;float:right">
        <input type="button" value="Export To Excel" onclick="location.href='@Url.Action("ExportToExcel","Chart", new { searchString = Model.searchString, amount = Model.amount, date1 = Model.date1, date2 = Model.date2, department = Model.department, gl = Model.gl } )'" class="btn btn-default" />
        @Html.ActionLink("Back to Home", "Index", "Home", null, new { @class = "btn btn-default", @style = "background-color:#0096d7;color:white" })
    </div>

</div>

@using (Html.BeginForm("Search", "Chart", FormMethod.Get))
{

<table class="table table-striped" border="0">

    <tr style="background-color:#0096D7">
        <th style="width:22%">
            @Html.DisplayName("Donor")
        </th>
        <th style="width: 12%">
            @Html.DisplayName("Amount")
        </th>
        <th style="width: 30%">
            @Html.DisplayName("Date")
        </th>
        <th style="width: 14%">
            @Html.DisplayName("Department")
        </th>
        <th style="width: 10%">
            @Html.DisplayName("GL Code")
        </th>
        <th>

        </th>
    </tr>

    <tr>
        <td>
            @*Need to update the controller to get this working*@
            <div style="padding-left: 15%;">
                    <p>
                        @Html.AntiForgeryToken()
                        @Html.TextBox("searchString", null, new { @class = "form-control", @style = "width: 200px" })&nbsp
                    </p>
                </div>
            </td>
            <td>
                <div>
                    @Html.DropDownList("Amount", null, htmlAttributes: new { @class = "form-control", id = "Amount" })
                </div>
            </td>
            <td>
                <input type="date" name="date1" style="width: 151px;" class="form-control " /> to <input type="date" name="date2" style="width: 151px;" class="dateInput form-control" />
            </td>
            <td>
                @Html.DropDownList("Department", null, "Department", htmlAttributes: new { @class = "form-control", id = "Department" })
            </td>
            <td>
                @Html.DropDownList("GL", null, "GL", htmlAttributes: new { @class = "form-control", id = "GL" })
            </td>
        <td>
            <input class="btn btn-default" style="" type="submit" value="Get Report" />
        </td>
        </tr>

        @foreach(var item in Model.Donations)
        {
            var displayName = item.DONOR.FName;
            if (item.DONOR.FName == null && item.DONOR.LName == null)
            {
                displayName = item.DONOR.CompanyName;
            }
            else if (item.DONOR.LName == null && item.DONOR.FName != null)
            {
                displayName = item.DONOR.FName + " - " + item.DONOR.CompanyName;
            }
            else
            {
                displayName = item.DONOR.LName + ", " + item.DONOR.FName + " - " + item.DONOR.CompanyName;
            }

            <tr id="displayData">
                <td style="text-align:left;padding-left:3%">
                    @Html.DisplayName(displayName)
                </td>
                <td style="padding-left:5%">
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td style="padding-left:9%">
                    @Html.DisplayFor(modelItem => item.DateRecieved)
                </td>
                <td style="padding-left:7%">
                    @Html.DisplayFor(modelItem => item.Department)
                </td>
                <td style="padding-left:7%">
                    @Html.DisplayFor(modelItem => item.GL)
                </td>
                <td></td>
            </tr>
        }
    </table>
    <div>
        
    </div>
    @*@Html.ActionLink("Export", "ExportToExcel", new { searchString = ViewBag.searchString, amount = ViewBag.amount, date1 = ViewBag.date1, date2 = ViewBag.date2, department = ViewBag.department, gl = ViewBag.gl }, new { @class = "btn btn-primary" })*@
   
}



