@model testDMS.Models.ChartDispalyViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<script>
    function returnAmount() {
        $.ajax({
            url: '@Url.Action("AmountSearch", "Chart")',
            type: 'POST',
            data: { type: $('discount').val },
            succuss: function () {

            }
        })
    }

</script>*@
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript">
    $(function () {
        $("#Amount").change(function () {
            var option = $(this).find("option:selected").val();
           
            $.ajax({
                type: "POST",
                url: "/Chart/AmountSearch", // the method we are calling
                contentType: "application/json; charset=utf-8",
                data: option,
                dataType: "json",
                success: function (response) {
                    alert(response.responseText)                    
                    // Or if you are returning something
                    //alert('I returned... ' + option);                    
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        });
    });
</script>
<style>
    .dateInput {
        width: 20%;
    }
    th {
        text-align:center;
    }
</style>
<hr />
<div class="well well-lg">
    <h4 style="display: inline-block">Donation Information</h4>

    <div style="display: inline-block;float:right">
        @Html.ActionLink("Back to Home", "Index", "Home", null, new { @class = "btn btn-default", @style = "background-color:#0096d7;color:white" })
    </div>
</div>

<table class="table table-striped" border="0">
    <tr style="background-color:#0096D7">
        <th style="width:25%">
            @Html.DisplayName("Donor")
        </th>
        <th style="width: 15%">
            @Html.DisplayName("Amount")
        </th>
        <th style="width: 30%">
            @Html.DisplayName("Date")
        </th>
        <th style="width: 15%">
            @Html.DisplayName("Department")
        </th>
        <th style="width: 15%">
            @Html.DisplayName("GL Code")
        </th>
    </tr>
    <tr>
        <td>
            @*Need to update the controller to get this working*@
            <div style="display: inline-block;text-align:left;">
                @using (Html.BeginForm("Search", "Chart", FormMethod.Get))
                {
                    <p>
                        @Html.AntiForgeryToken()
                        @Html.TextBox("searchString")&nbsp
                        <input type="submit" value="Filter" />
                    </p>
                }
            </div>
        </td>
        <td>
            <div style="display: inline-block; text-align:left;">
               @Html.DropDownList("Amount", null, htmlAttributes: new { @class = "form-control", id = "Amount"})
            </div>
        </td>
        <td style="padding-left:3%">
           Date Range: <input type="text" class="dateInput form-control" /> to <input type="text"  class="dateInput form-control"/>
        </td>
        <td>
            @Html.DropDownList("Department", null, "Department", htmlAttributes: new { @class = "form-control" })
        </td>
        <td>
            @Html.DropDownList("GL", null, "GL", htmlAttributes: new { @class = "form-control" })
        </td>
    </tr>


    @foreach (var item in Model.Donations)
    {
        var displayName = item.DONOR.FName;
        if (item.DONOR.FName == null && item.DONOR.LName == null)
        {
            displayName = item.DONOR.CompanyName;
        }
        else if (item.DONOR.LName == null && item.DONOR.FName != null)
        {
            displayName = item.DONOR.FName + " - " + item.DONOR.CompanyName;
        }
        else
        {
            displayName = item.DONOR.LName + ", " + item.DONOR.FName + " - " + item.DONOR.CompanyName;
        }

        <tr>
            <td style="text-align:left;padding-left:3%">
                @Html.DisplayName(displayName)
            </td>
            <td style="padding-left:5%">
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td style="padding-left:9%">
                @Html.DisplayFor(modelItem => item.DateRecieved)
            </td>
            <td style="padding-left:7%">
                @Html.DisplayFor(modelItem => item.CODES.Department)
            </td>
            <td style="padding-left:7%">
                @Html.DisplayFor(modelItem => item.CODES.GL)
            </td>
        </tr>
    }
</table>
