@model testDMS.Models.ChartDispalyViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table">
    <tr>
        <th>
            @*@Html.DropDownList("DONORID", Model.Donors.ToString())*@
            <select class="form-control" style="width:auto;" id="Type" name="Type">
                <option value="">Choose Person</option>
            </select>
        </th>
        <th>
            <select class="form-control" style="width:auto;" id="Type" name="Type">
                <option value="">Choose Amount</option>
            </select>
        </th>
        <th>
            <select class="form-control" style="width:auto;" id="Type" name="Type">
                <option value="">Choose Department</option>
            </select>
        </th>
        <th>
            <select class="form-control" style="width:auto;" id="Type" name="Type">
                <option value="">Choose GL</option>
            </select>
        </th>
    </tr>
    <tr>
        <th>
            @Html.DisplayName("Donor")
        </th>
        <th>
            @Html.DisplayName("Amount")
        </th>
        <th>
            @Html.DisplayName("Date")
        </th>
        <th>
            @Html.DisplayName("Department")
        </th>
        <th>
            @Html.DisplayName("GL Code")
        </th>
    </tr>

@foreach (var item in Model.Donations) { 
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DONOR.FNAME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateRecieved)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CODE.Department)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CODE.GL)
            </td>
         </tr>
}
</table>



