<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Donor Management System</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/Site.css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a href="@Url.Action("Index", "Home")"><img src="~/Images/bevel.png" alt="Hope Haven Logo" style="width:145px; float:left; padding-right:20px; padding-top:4px;" /></a>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar">@Html.ActionLink("Donors", "Index", "DONORs")</span>
                    <span class="icon-bar"></span>
                </button>
                <ul class="nav navbar-nav">
                    <li>
                        @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                    </li>
                    <li>@Html.ActionLink("Account", "Index", "Account", new { area = "" }, new { @class = "navbar-brand" })</li>
                    <li>@Html.ActionLink("Donors", "Index", "DONORs", new { area = "" }, new { @class = "navbar-brand" })</li>
                    <li>@Html.ActionLink("Donations", "Index", "DONATIONs", new { area = "" }, new { @class = "navbar-brand" })</li>
                    <li>@Html.ActionLink("Reports", "Index", "Chart", new { area = "" }, new { @class = "navbar-brand" })</li>
                </ul>

            </div>
            <div class="navbar-collapse collapse">
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>


    <div class="container1">
        <ul class="nav nav-tabs">

        </ul>
        @RenderBody()
        <hr/>
        <footer style="text-align: center;">
            <p>&copy; @DateTime.Now.Year - Hope Haven Donor Management System by @Html.ActionLink("Hooli", "displayTeam", "DONORs")</p>
            @*<p>Developed by <a href="~/Views/Shared/TeamHooli.cshtml">Hooli</a></p>*@
            @*@Html.ActionLink("Hooli", "displayTeam", "DONORs")*@
        </footer>
    </div>
</body>
</html>
