@model testDMS.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset password";
}
<style>
    img {
        display: block;
        text-align: center;
        margin: auto;
        max-width: 50%;
    }

    a {
        color: black;
    }
</style>
<hr />
<div class="well well-lg">
    <div style="display: inline-block">
        <h4>Reset User Account Password</h4>
    </div>
    <div style="display: inline-block;float:right">
        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default", @style = "background-color:#0096d7;color:white" })
    </div>
</div>


@using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="well well-sm" style="background-color:#0096D7;color:#ffffff;">
        <h4>Reset Password For User:   @Html.DisplayFor(model => model.Email)</h4>
    </div>
    <hr />
        <table border="0">
            <tr>
                @*<td style="width:10%"></td>*@
                <td style="width:70%">
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Code)
                    @Html.HiddenFor(model => model.Email)
                    @*<div class="form-group">
                            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            </div>
                        </div>*@
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class = "col-md-4 control-label" })
                        <div class="col-md-8">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-4 control-label" })
                        <div class="col-md-8">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-4 col-md-8">
                            <input type="submit" class="btn btn-default" style = "background-color:#0096d7;color:white" value="Reset" />
                        </div>
                    </div>
                </td>
                <td><img src="~/Images/lock.png" alt="lock image" /></td>
            </tr>
        </table>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
