@{
    ViewBag.Title = "Home Page";
}



<div class="navbar-collapse collapse"> <!--Royce: You added the class to this div-->

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#first" aria-controls="first" role="tab" data-toggle="tab">Accounts</a></li>
        <li role="presentation"><a href="#second" aria-controls="second" role="tab" data-toggle="tab">Donors</a></li>
        <li role="presentation"><a href="#third" aria-controls="third" role="tab" data-toggle="tab">Donations</a></li>
        <li role="presentation"><a href="#fourth" aria-controls="fourth" role="tab" data-toggle="tab">Reports</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="first">
            <div class="panel panel-default">
                <div class="panel-heading">User Account Management</div>
                <div class="panel-body">
                    This tab will allow the administrator to view, add, delete, and change permissions
                    for the users.<br />
                    <div>
                        @Html.Action("Register", "Account")
                    </div>
                    <div>
                        <!--float this right, replace with editable list/user roles-->

                    </div>
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="second">
            <div class="panel panel-default">
                <div class="panel-heading">Donor Demographic Management</div>
                <div class="panel-body">

                    
                    @Html.Action("Index", "DONORs")
                    @*<input type="submit" value="Export to Excel" class="button" />*@
                    @Html.ActionLink("Export To Excel", "ExportToExcel")

                </div>


            </div>
            @* Use this when we want to have form results: @Html.RenderAction("GetMySecondForm", "MyController")*@
        </div>
        <div role="tabpanel" class="tab-pane" id="third">
            <div class="panel panel-default">
                <div class="panel-heading">Donation Management</div>
                <div class="panel-body">
                    This tab will allow the administrator to view, add, delete, and change donation information including upload
                    a check image.   The executive users will be able to view and add donations (still need to determine all
                    permisions for the executive users.)
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="fourth">
            <div class="panel panel-default ">
                <div class="panel-heading">Reports</div>
                @Html.Partial("~/Views/Chart/Index.cshtml")
            </div>
        </div>
    </div>

</div>

@*<div class="jumbotron">
    <h1 font-size 25px>Welcome to the Donor Management System</h1>
    <p class="lead">Use this application for donor management.</p>
        <p><a href="http://www.hope-haven.org/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>*@