@using Microsoft.AspNet.Identity
@model testDMS.Models.UserAndRolesDTO

@Styles.Render("~/Content/Site.css")

<style>
    a img:hover{
       -webkit-filter: brightness(1.5);
    }

</style>
<hr />
<div class="container">
    <div style="background:#E31B23 !important" class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1 style="color:#FFFFFF"><strong>Hope Haven</strong></h1>
                    <h2 style="color:#FFFFFF"><strong>Donor Management System</strong></h2>
                </div>
                <div class="col-md-6">
                    <img style="width:30%;height:auto;float:right;" src="~/Images/HH_LogoStacked_CMYK.jpg" />
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-sm-3"><a href="@Url.Action("Index", "Account")"><img class="center-block img-responsive" src="~/Images/button_accountsL.png" alt="Account" /></a></div>
        <div class="col-sm-3"><a href="@Url.Action("Index", "DONORs")"><img class="center-block img-responsive" src="~/Images/button_donorsL.png" alt="Donor" /></a></div>
        <div class="col-sm-3"><a href="@Url.Action("Index", "DONATIONs")"><img class="center-block img-responsive" src="~/Images/button_donationsL.png" alt="Donations" /></a></div>
        <div class="col-sm-3"><a href="@Url.Action("Index", "Chart")"><img class="center-block img-responsive" src="~/Images/button_reportsL.png" alt="Reports" /></a></div>
    </div>
</div>
